@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,800&display=swap');

.active {
    background: #000 !important;
    color: white;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    background: #000;
}

.container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 950px;
    height: 600px;
    background: #fff;
    margin: 20px;
}

.container .imgBx {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    background: #fff;
    transition: .3s linear;
}

.container .imgBx img {
    position: relative;
    width: 455px;
    transition: .9s linear;
}

.container .details {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    padding: 40px;
}

.container .details h2 {
    margin: 0;
    padding: 0;
    font-size: 2.4em;
    line-height: 1em;
    color: #444;
}

.container .details h2 span {
    font-size: 0.4em;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #999;
}

.container .details h3 {
    margin: 0;
    padding: 0;
    font-size: 2.5em;
    color: #a2a2a2;
    float: left;
}

.span--duration {
    font-size: 10px;
}

hr {
    margin-top: 15px;
    color: gray;
    opacity: 0.5;
    margin-bottom: 15px;
}

.ant-checkbox {
    margin: 10px 5px 20px 0px;
}

.ant-checkbox-inner {
    width: 20px;
    border-radius: 5px;
    height: 20px;
    border-color: black;
}

.ant-checkbox {
    top: 0.4em;
}

.ant-input {
    border-color: black;
    border-radius: 10px;
    height: 45px;
    margin-bottom: 20px;

}

.ant-checkbox-checked .ant-checkbox-inner {
    background-color: black;
    border-color: black;
}

.ant-checkbox:hover {
    color: black;
}

.date--selector {
    margin-top: 15px;
    border-radius: 10px;
    width: 70%;
    height: 50px;
    border-color: black;
}

.duration--h3 {
    margin: 12px 0 0 0;
}

.btn--size {
    width: 52px;
    height: 45px;
    background: #E7E7E7;
    border-radius: 15px;
    margin-right: 12px;
    border: none;
}

.btn--md {
    width: 70px;
}

.h4--vendor {
    color: gray;
}

.h3--size {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 8px;
}

.h1--title {
    font-size: 32px;
    line-height: 48px;
    font-weight: 600;
    margin-bottom: 10px;
}

hr.divider {
    width: 400px;
    margin: 20px 0;
}

.product-colors span {
    width: 26px;
    height: 26px;
    top: 7px;
    margin-right: 12px;
    left: 10px;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    display: inline-block;
}

.black {
    background: #000;
}

.red {
    background: #D5212E;
}

.orange {
    background: #F18557;
}

.product-colors .active:after {
    content: "";
    width: 36px;
    height: 36px;
    border: 2px solid #000;
    position: absolute;
    border-radius: 50%;
    box-sizing: border-box;
    left: -5px;
    top: -5px;
}


/* responsive */

@media (max-width: 1080px) {
    .container {
        height: auto;
    }

    .container .imgBx {
        padding: 40px;
        box-sizing: border-box;
        width: 100% !important;
        height: auto;
        text-align: center;
        overflow: hidden;
    }

    .container .imgBx img {
        left: initial;
        max-width: 100%;
        transform: rotate(0deg);
    }

    .details {
        width: 100% !important;
        height: auto;
        padding: 20px;
    }

    .container .details p {
        margin-left: 0;
        max-width: 100%;
    }
}